<!-- <p>transaction works!</p> -->
<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>


<table style="color: white;">
    <th>
        <tr>
            <th>Amount</th>
            <br>
            <!-- <th>Type</th> -->
        </tr>

    </th>
    <th>
        <tr>
            <th>Type</th>
        </tr>
    </th>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <th>{{transaction.amt}}</th>
            <th>{{transaction.type}}</th>
        </tr>
        <!-- <tr>
            <th>1000</th>
            <th>debit</th>
        </tr> -->
    </tbody>
</table>
<a style="color: blue; margin-left: 900px; margin-right: 20px;" routerLink="/dashboard">Home</a>
